:root {
  --itproger-com-opacity-100: 100px;
  --itproger-com-stroke-weight-0-21: 0.2118643969297409px;
  --itproger-com-color-red-63: rgba(242, 102, 81, 1);
  --itproger-com-stroke-weight-1: 1.0040160417556763px;
  --itproger-com-color-magenta-68: rgba(248, 98, 219, 1);
  --itproger-com-color-blue-68: rgba(128, 97, 249, 1);
  --itproger-com-opacity-50: 50px;
  --itproger-com-color-azure-28: rgba(23, 61, 122, 1);
  --itproger-com-color-azure-45: rgba(57, 108, 170, 1);
  --itproger-com-color-azure-35: rgba(39, 79, 137, 1);
  --itproger-com-color-grey-92: rgba(235, 235, 235, 1);
  --itproger-com-color-white-solid: rgba(255, 255, 255, 1);
  --itproger-com-color-azure-27: rgba(34, 61, 105, 1);
  --itproger-com-color-azure-57: rgba(87, 147, 206, 1);
  --itproger-com-color-black-solid: rgba(0, 0, 0, 1);
  --itproger-com-color-violet-66: rgba(182, 97, 242, 1);
  --itproger-com-color-red-85: rgba(255, 194, 176, 1);
  --itproger-com-color-red-75: rgba(234, 156, 146, 1);
  --itproger-com-color-violet-59: rgba(178, 80, 222, 1);
  --itproger-com-color-red-47: rgba(200, 65, 40, 1);
  --itproger-com-color-red-50: rgba(197, 78, 56, 1);
  --itproger-com-color-red-88: rgba(250, 208, 200, 1);
  --itproger-com-color-red-60: rgba(226, 103, 80, 1);
  --itproger-com-color-violet-52: rgba(141, 70, 193, 1);
  --itproger-com-color-violet-25: rgba(45, 9, 121, 1);
  --itproger-com-color-violet-49: rgba(91, 4, 247, 1);
  --itproger-com-color-blue-42: rgba(57, 25, 187, 1);
  --itproger-com-color-violet-50: rgba(101, 7, 250, 1);
  --itproger-com-opacity-30: 30.000001907348633px;
  --itproger-com-color-blue-13: rgba(6, 3, 62, 1);
  --itproger-com-color-violet-48: rgba(131, 61, 184, 1);
  --itproger-com-stroke-weight-0-55: 0.5484259128570557px;
  --itproger-com-color-grey-69: rgba(175, 175, 175, 1);
  --itproger-com-color-yellow-50: rgba(255, 223, 0, 1);
  --itproger-com-color-yellow-51: rgba(255, 193, 7, 1);
  --itproger-com-color-grey-96: rgba(246, 246, 246, 1);
  --itproger-com-opacity-20: 20px;
  --itproger-com-color-grey-29: rgba(75, 75, 75, 1);
  --itproger-com-color-azure-48: rgba(3, 169, 244, 1);
  --itproger-com-color-red-62: rgba(255, 85, 60, 1);
  --itproger-com-color-grey-98: rgba(250, 250, 250, 1);
  --itproger-com-stroke-weight-0-76: 0.7602469325065613px;
  --itproger-com-color-grey-12: rgba(33, 31, 29, 1);
  --itproger-com-color-orange-80: rgba(251, 195, 157, 1);
  --itproger-com-color-orange-74: rgba(249, 172, 127, 1);
  --itproger-com-stroke-weight-4-38: 4.381780624389648px;
  --itproger-com-opacity-60: 60.000003814697266px;
  --itproger-com-color-orange-66: rgba(239, 194, 96, 1);
  --itproger-com-color-red-84: rgba(238, 188, 197, 1);
  --itproger-com-color-blue-34: rgba(29, 41, 146, 1);
  --itproger-com-color-red-70: rgba(217, 142, 157, 1);
  --itproger-com-color-blue-52-0: rgba(72, 78, 194, 0);
  --itproger-com-color-blue-53-50: rgba(68, 75, 204, 0.5);
  --itproger-com-color-blue-76: rgba(161, 148, 239, 1);
  --itproger-com-color-red-55: rgba(208, 95, 74, 1);
  --itproger-com-color-rose-67: rgba(216, 125, 152, 1);
  --itproger-com-color-blue-67: rgba(89, 105, 255, 1);
  --itproger-com-color-blue-51-50: rgba(31, 64, 229, 0.5);
  --itproger-com-color-blue-61: rgba(63, 88, 250, 1);
  --itproger-com-stroke-weight-2: 2px;
  --itproger-com-color-azure-46: rgba(25, 118, 210, 1);
  --itproger-com-color-red-58: rgba(224, 97, 73, 1);
  --itproger-com-color-grey-95: rgba(243, 243, 243, 1);
  --itproger-com-color-blue-78: rgba(190, 195, 210, 1);
  --itproger-com-color-blue-74: rgba(175, 180, 200, 1);
  --itproger-com-color-magenta-42: rgba(156, 39, 176, 1);
  --itproger-com-color-rose-65-0: rgba(211, 120, 151, 0);
  --itproger-com-color-rose-53: rgba(188, 84, 124, 1);
  --itproger-com-color-red-56: rgba(214, 94, 72, 1);
  --itproger-com-color-grey-89: rgba(227, 227, 227, 1);
  --itproger-com-color-grey-18: rgba(45, 45, 45, 1);
  --itproger-com-stroke-weight-0-84: 0.8361882567405701px;
  --itproger-com-color-orange-55: rgba(248, 175, 35, 1);
  --itproger-com-color-grey-91: rgba(211, 239, 253, 1);
  --itproger-com-color-azure-69: rgba(155, 185, 195, 1);
  --itproger-com-color-chartreuse-green-76: rgba(179, 229, 159, 1);
  --itproger-com-color-green-71: rgba(149, 214, 164, 1);
  --itproger-com-color-cyan-77: rgba(180, 210, 215, 1);
  --itproger-com-color-azure-61: rgba(135, 160, 175, 1);
  --itproger-com-color-cyan-27: rgba(47, 83, 90, 1);
  --itproger-com-color-azure-59: rgba(65, 165, 238, 1);
  --itproger-com-color-azure-37: rgba(40, 104, 151, 1);
  --itproger-com-color-blue-45: rgba(77, 77, 153, 1);
  --itproger-com-color-blue-28: rgba(41, 41, 102, 1);
  --itproger-com-color-azure-90: rgba(204, 230, 255, 1);
  --itproger-com-color-cyan-80: rgba(153, 255, 255, 1);
  --itproger-com-color-blue-53: rgba(90, 90, 179, 1);
  --itproger-com-color-azure-67: rgba(89, 171, 255, 1);
  --itproger-com-color-azure-65: rgba(99, 188, 231, 1);
  --itproger-com-color-orange-37: rgba(167, 118, 24, 1);
  --itproger-com-color-blue-65: rgba(99, 119, 231, 1);
  --itproger-com-color-grey-81: rgba(206, 206, 206, 1);
  --itproger-com-color-grey-44: rgba(112, 112, 112, 1);
  --itproger-com-color-grey-36: rgba(91, 91, 91, 1);
  --itproger-com-color-yellow-55: rgba(248, 211, 35, 1);
  --itproger-com-color-red-67: rgba(244, 98, 117, 1);
  --itproger-com-color-grey-76: rgba(193, 193, 193, 1);
  --itproger-com-color-azure-25: rgba(56, 63, 69, 1);
  --itproger-com-color-red-13: rgba(58, 9, 9, 1);
  --itproger-com-color-grey-90: rgba(230, 230, 230, 1);
  --itproger-com-color-grey-83: rgba(210, 211, 213, 1);
  --itproger-com-color-grey-54: rgba(133, 138, 142, 1);
  --itproger-com-color-grey-6: rgba(17, 17, 16, 1);
  --itproger-com-color-red-45: rgba(177, 73, 53, 1);
}
